<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.covid_19vaccinescheduler">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Covid19VaccineScheduler">
        <activity android:name=".rescheduleActivity"
            android:theme="@style/Theme.Covid19VaccineScheduler.NoActionBar"/>
        <activity
            android:name=".completeActivity"
            android:theme="@style/Theme.Covid19VaccineScheduler.NoActionBar" />
        <activity
            android:name=".extraConditionsActivity"
            android:theme="@style/Theme.Covid19VaccineScheduler.NoActionBar" />
        <activity
            android:name=".EligibilityActivity"
            android:theme="@style/Theme.Covid19VaccineScheduler.NoActionBar" />
        <activity
            android:name=".date2Activity"
            android:theme="@style/Theme.Covid19VaccineScheduler.NoActionBar" />
        <activity
            android:name=".date1Activity"
            android:theme="@style/Theme.Covid19VaccineScheduler.NoActionBar" />
        <activity
            android:name=".CurrentApptList"
            android:theme="@style/Theme.Covid19VaccineScheduler.NoActionBar" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/Theme.Covid19VaccineScheduler.NoActionBar" />
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register"
            android:theme="@style/Theme.Covid19VaccineScheduler.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.Covid19VaccineScheduler.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>